
[Unit]
Description=config desktop
After=getty@tty2.service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/root/config-eos.sh
StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=default.target
